/* Profile field group main admin page */
#tabs-bottom {
    background: #f9f9f9;
    height: 32px;
    border: 1px solid #dfdfdf;
    border-radius: 0 0 3px 3px;
}

#tabs {
    position: relative;
}
p.nofields {
    margin-top: 20px;
}

/* Field group tabs */
ul#field-group-tabs {
    float: left;
    padding: 0 0 0 15px;
    margin: 0;
    display: none;
}
ul#field-group-tabs li {
    float: left;
    margin-bottom: -1px;
    background-color: transparent;
    margin-right: 8px;
}
ul#field-group-tabs li.ui-state-hover a {
    background-color: #fafafa;
}
ul#field-group-tabs li.ui-state-hover a.ui-tab {
    border-color: #dfdfdf #dfdfdf #f9f9f9 #dfdfdf;
    color: #d54e21;
}
ul#field-group-tabs li.ui-state-acceptable a.ui-tab {
    border-color: #5a5 #5a5 #ccc #5a5;
    color: #8a8;
    background-color: #efe;
}
ul#field-group-tabs li.ui-state-active.ui-state-acceptable a.ui-tab {
    background-color: #f9f9f9;
}
ul#field-group-tabs li.drop-candidate a.ui-tab {
    background-color: #ffc;
    border-color: #aa5 #aa5 #ccc #aa5;
    color: #aa8;
}
ul#field-group-tabs li a.ui-tab {
    font-size: 14px;
    display: block;
    margin-top: 3px;
    padding: 5px 10px 5px;
    border: 1px solid #dfdfdf;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    text-decoration: none;
    color: #aaa;
}

/* Selected tab */
ul#field-group-tabs li.ui-state-active a.ui-tab {
    background-color: #f9f9f9;
    margin-top: -1px;
    padding: 7px 10px 7px;
    border: 1px solid #dfdfdf;
    border-bottom: 1px solid transparent;
    color: #000;
}

/* Toolbar */
.tab-toolbar {
    background: #f9f9f9;
    border-width: 1px 1px 0;
    border-radius: 3px 3px 0 0;
    margin: -20px -21px 20px -21px;
    clear: left;
    padding: 10px;
    border: 1px solid #dfdfdf;
}

.field-wrapper a.deletion,
.tab-toolbar a.deletion {
    color: #f00;
    border-bottom: 1px solid #f00;
    font-size: 12px;
    text-decoration: none;
    padding: 0;
    margin: -2px 0 0 5px;
}

div.tab-toolbar a.button-primary {
    color: #fff !important; /* Overriding a WP !important */
}

div.tab-wrapper {
    background-color: #fff;
    clear: left;
    padding: 20px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-radius: 3px 3px 0 0;
}

.tab-wrapper fieldset {
    position: relative;
    cursor: default !important;
    background: inherit;
}
.tab-wrapper fieldset legend {
    padding-bottom: 15px;
    font-weight: bold;
}
.tab-wrapper .xprofile-field {
    position: relative;
}
.tab-wrapper fieldset fieldset {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 10px 0 0 0;
    background: #f9f9f9;
}
.tab-wrapper fieldset fieldset legend {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 80%;
    padding: 30px;
}
.tab-wrapper fieldset fieldset legend span {
    position: absolute;
    top: 6px;
    left: 10px;
    font-weight: bold;
    width: 100%;
}
.tab-wrapper fieldset fieldset legend span span {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
}
.field-group fieldset:hover {
    background-color: #fafafa;
    border-color: #ccc;
}
fieldset div.field-wrapper {
    padding: 40px 10px 10px;
}
fieldset.radio div div label,
fieldset.checkbox div label {
    margin-right: 20px;
}

fieldset.clear-value {
    margin-left: 10px;
}
.field-group div.actions {
    float: none;
    border-top: 1px solid #ddd;
    margin: 20px 0 0;
    padding-top: 10px;
}
.field-group div.actions a,
.field-group div.actions button,
.field-group div.actions input {
    float: none;
}
.field-group fieldset:hover div.actions {
    display: block;
}
.field-group fieldset.ui-sortable-placeholder {
    border: 1px dashed #999;
    background-color: #eee;
    visibility: visible !important;
}

ul.forTab {
    list-style: none;
    padding: 0;
    margin: 0 0 0 1em;
}
ul.forTab li {
    margin: 0 0 1em 0;
}

ul.forTab li label {
    display: block;
}

ul.forTab li input {
    font-size: 1.4em;
}

p.success { background: green;}
p.err {
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    color: red;
    padding: 5px 0;
    width: 40%;
}

span.desc, span.signup-description {
    display: block;
    font-size: 11px;
    color: #555;
}

select.multi-select {
    width:90%;
    height:10em !important;
}

ul.multi-checkbox {
    margin: 0 5px 0 0;
    padding: .5em .9em;
    height: 10em;
    overflow: auto;
    list-style: none;
    border: solid 1px #ccc;
    width: 90%;
}

ul.multi-checkbox li {
    padding: 0;
    margin: 0;
}

div.options-box {
    margin-left: 20px !important;
    margin-right: 10px !important;
    border-left: 4px solid #EAF3FA;
    padding-left: 15px;
}

th a {
    background: #fff;
    padding: 2px 5px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    top: -2px;
}

textarea#description,
textarea#group_description {
    border: 1px solid #ddd;
    width: 100%;
}
